[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
tensorflow-gpu = "==2.0.0-alpha0"

[dev-packages]

[requires]
python_version = "3.6"
